body {
    font-family: 'Poppins', sans-serif;
}

.container {
    border: 1px solid #ccc;
    background-color: rgb(232, 240, 240);
    border-radius: 10px;
}

.btn3 {
    text-decoration: none;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    font-size: 19px;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(7, 7, 7) !important;
    text-align: center;
    padding: 12px 35px;
    z-index: 1;
    border: 2px solid black;
    background-color: #fff;
}

.btn3:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.btn3:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(6, 93, 143);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

h6,
p {
    font-size: 18px;
}